@import "~bootstrap/scss/bootstrap";
@font-face {
    font-family: Sofia Pro Regular;
    src: url("../../../../fonts/Sofia\ Pro\ Regular\ Az.otf");
}

@font-face {
    font-family: Sofia Pro Regular;
    src: url("../../../../fonts/Sofia\ Pro\ Bold\ Az.otf");
    font-weight: bold;
}

:root {
    /* variables */
    --cg-black: rgb(30, 32, 32);
    --cg-blue: rgb(6, 87, 152);
    --cg-grey: rgb(243, 243, 243);
    --cg-white: rgb(255, 255, 255);
}

.main-footer {
    background-color: var(--cg-blue);
    padding-top: 1%;
    color: #fffcef;
    font-family: Sofia Pro Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    /* margin-top: -200px; */
}

.hack {
    padding-top: 5%;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 28.8295px;
    line-height: 51px;
}
