@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: Sofia Pro Regular;
    src: url("../../../../fonts/Sofia\ Pro\ Regular\ Az.otf");
}

@font-face {
    font-family: Sofia Pro Regular;
    src: url("../../../../fonts/Sofia\ Pro\ Bold\ Az.otf");
    font-weight: bold;
}

:root {
    /* variables */
    --cg-black: rgb(30, 32, 32);
    --cg-blue: rgb(6, 87, 152);
    --cg-grey: rgb(243, 243, 243);
    --cg-white: rgb(255, 255, 255);
}

.main-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7vh;
    z-index: 10;

    background-color: var(--cg-white);
    color: var(--cg-blue);

    font-family: Sofia Pro Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbar {
    position: relative;
}

header a{
    color: var(--cg-blue);
    margin: 0 12px;
    font-weight: bold;
    text-decoration: none;
}

