$primary-color: #065798;
$primary-color-hover: #58b4ff;
$secondary-color: #04467B;
$bkg-color: #FFF;
$light-font: #FAFAFA;
$dark-color: #666767;
$light-color: #E5E7EB;

$header-height: 10vh;
$footer-height: 18vh;

@import 'react-big-calendar/lib/sass/styles';
