$primary-color: #065798;
$primary-color-hover: #58b4ff;
$secondary-color: #04467b;
$bkg-color: #fff;
$light-font: #fafafa;
$dark-color: #666767;
$light-color: #e5e7eb;

$header-height: 10vh;
$footer-height: 18vh;
